n8n/workflow-job-discovery.json
{
  "name": "Job Discovery Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Multi-source job discovery (6 APIs)\nconst DEV = ['developer','engineer','programming','software','backend','back-end','fullstack','php','laravel','symfony'];\nconst EXCL = ['wordpress only','ios developer','android developer','mobile developer'];\nconst match = (t,d,e='') => { const x=`${t} ${d||''} ${e}`.toLowerCase(); return DEV.some(k=>x.includes(k)) && !EXCL.some(k=>x.includes(k)); };\nconst strip = s => (s||'').replace(/<[^>]*>/g,' ').replace(/\\s+/g,' ').trim();\nconst UA = { 'User-Agent': 'job-agent/1.0' };\nconst all = [];\nconst stats = {};\n\nasync function add(jobs, source) {\n  let n = 0;\n  for (const j of jobs) {\n    if (!j.url || !j.title) continue;\n    all.push({ json: j });\n    n++;\n  }\n  stats[source] = n;\n}\n\n// 1. Remotive\ntry {\n  const r = await this.helpers.httpRequest({ method:'GET', url:'https://remotive.com/api/remote-jobs?category=software-dev', json:true });\n  const jobs = (r.jobs||[]).filter(j=>match(j.title,j.description,j.category)).slice(0,50).map(j=>({\n    title:j.title, company:j.company_name, url:j.url, description:(j.description||'').slice(0,2000),\n    source:'remotive', location:j.candidate_required_location||'Remote', salary:j.salary||null\n  }));\n  await add(jobs,'remotive');\n} catch(e) { stats.remotive='err'; }\n\n// 2. We Work Remotely RSS\ntry {\n  const xml = await this.helpers.httpRequest({ method:'GET', url:'https://weworkremotely.com/categories/remote-programming-jobs.rss', json:false });\n  const text = typeof xml === 'string' ? xml : '';\n  const jobs = [];\n  const re = /<item>([\\s\\S]*?)<\\/item>/g; let m;\n  while ((m=re.exec(text))!==null && jobs.length<30) {\n    const item=m[1];\n    const title=(item.match(/<title><!\\[CDATA\\[(.+?)\\]\\]><\\/title>/)||item.match(/<title>(.+?)<\\/title>/)||[])[1]||'';\n    const link=(item.match(/<link>(.+?)<\\/link>/)||[])[1]||'';\n    const desc=strip((item.match(/<description><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/description>/)||item.match(/<description>([\\s\\S]*?)<\\/description>/)||[])[1]||'');\n    if(!title||!link||!match(title,desc)) continue;\n    const parts=title.split(':');\n    jobs.push({ title:parts[0].trim(), company:parts[1]?.trim()||'Unknown', url:link, description:desc.slice(0,2000), source:'weworkremotely', location:'Remote', salary:null });\n  }\n  await add(jobs,'wwr');\n} catch(e) { stats.wwr='err'; }\n\n// 3. Arbeitnow\ntry {\n  const r = await this.helpers.httpRequest({ method:'GET', url:'https://www.arbeitnow.com/api/job-board-api', json:true });\n  const jobs = (r.data||[]).filter(j=>{ const t=`${j.title} ${j.description||''} ${(j.tags||[]).join(' ')}`; return match(j.title,j.description) && (j.remote||t.toLowerCase().includes('remote')); }).slice(0,30).map(j=>({\n    title:j.title, company:j.company_name, url:j.url, description:(j.description||'').slice(0,2000),\n    source:'arbeitnow', location:j.location||'Remote', salary:j.salary||null\n  }));\n  await add(jobs,'arbeitnow');\n} catch(e) { stats.arbeitnow='err'; }\n\n// 4. RemoteOK\ntry {\n  const r = await this.helpers.httpRequest({ method:'GET', url:'https://remoteok.com/api', headers:UA, json:true });\n  const arr = Array.isArray(r) ? r : [];\n  const jobs = arr.filter(j=>j&&j.position&&match(j.position,j.description,(j.tags||[]).join(' '))).slice(0,30).map(j=>({\n    title:j.position, company:j.company||'Unknown', url:j.url||j.apply_url, description:strip(j.description).slice(0,2000),\n    source:'remoteok', location:j.location||'Remote', salary:j.salary_min?`${j.salary_min}-${j.salary_max}`:null\n  }));\n  await add(jobs,'remoteok');\n} catch(e) { stats.remoteok='err'; }\n\n// 5. Jobicy\ntry {\n  const r = await this.helpers.httpRequest({ method:'GET', url:'https://jobicy.com/api/v2/remote-jobs?count=50&tag=dev', json:true });\n  const jobs = (r.jobs||[]).filter(j=>match(j.jobTitle,j.jobExcerpt,(j.jobIndustry||[]).join(' '))).slice(0,30).map(j=>({\n    title:j.jobTitle, company:j.companyName||'Unknown', url:j.url, description:strip(j.jobDescription||j.jobExcerpt).slice(0,2000),\n    source:'jobicy', location:j.jobGeo||'Remote', salary:null\n  }));\n  await add(jobs,'jobicy');\n} catch(e) { stats.jobicy='err'; }\n\n// 6. Himalayas\ntry {\n  const r = await this.helpers.httpRequest({ method:'GET', url:'https://himalayas.app/jobs/api?limit=50', json:true });\n  const jobs = (r.jobs||[]).filter(j=>{\n    if(!match(j.title,j.excerpt,(j.categories||[]).join(' '))) return false;\n    const locs=j.locationRestrictions||[];\n    if(locs.length===1 && locs[0].toLowerCase().includes('united states')) return false;\n    return true;\n  }).slice(0,30).map(j=>({\n    title:j.title, company:j.companyName||'Unknown', url:j.applicationLink||j.guid, description:(j.excerpt||'').slice(0,2000),\n    source:'himalayas', location:(j.locationRestrictions||[]).join(', ')||'Remote',\n    salary:j.minSalary?`${j.minSalary}-${j.maxSalary||''} ${j.currency||''}`:null\n  }));\n  await add(jobs,'himalayas');\n} catch(e) { stats.himalayas='err'; }\n\n// Dedupe by URL\nconst seen = new Set();\nconst unique = all.filter(item => { if(seen.has(item.json.url)) return false; seen.add(item.json.url); return true; });\n\nconsole.log('Discovery stats:', JSON.stringify(stats), 'total:', unique.length);\nreturn unique;"
      },
      "id": "discover-all",
      "name": "Discover All Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "https://job-agent-eosin.vercel.app/api/jobs?urls_only=true",
        "options": {}
      },
      "id": "get-known-urls",
      "name": "Get Known URLs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const knownUrls = new Set($input.first()?.json?.urls || []);\nconst allJobs = $('Discover All Sources').all();\nconst newJobs = allJobs.filter(item => item.json.url && !knownUrls.has(item.json.url));\nconsole.log(`Found ${allJobs.length} total, ${newJobs.length} new`);\nreturn newJobs;"
      },
      "id": "filter-duplicates",
      "name": "Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "has-jobs", "leftValue": "={{ $input.all().length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-jobs",
      "name": "Has New Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all().map(i => i.json);\nreturn [{ json: { jobs } }];"
      },
      "id": "prepare-payload",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "jsCode": "const secret = $env.N8N_WEBHOOK_SECRET;\nif (!secret) throw new Error('Set N8N_WEBHOOK_SECRET in n8n environment variables');\nconst jobs = $input.first().json.jobs;\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://job-agent-eosin.vercel.app/api/jobs/ingest',\n  headers: { Authorization: `Bearer ${secret}`, 'Content-Type': 'application/json' },\n  body: jobs,\n  json: true,\n});\nreturn [{ json: response }];"
      },
      "id": "ingest-jobs",
      "name": "Ingest to Vercel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: 'No new jobs found today', count: 0 } }];"
      },
      "id": "no-jobs",
      "name": "No New Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    }
  ],
  "connections": {
    "Daily 8AM": {
      "main": [[{ "node": "Discover All Sources", "type": "main", "index": 0 }]]
    },
    "Discover All Sources": {
      "main": [[{ "node": "Get Known URLs", "type": "main", "index": 0 }]]
    },
    "Get Known URLs": {
      "main": [[{ "node": "Filter Duplicates", "type": "main", "index": 0 }]]
    },
    "Filter Duplicates": {
      "main": [[{ "node": "Has New Jobs?", "type": "main", "index": 0 }]]
    },
    "Has New Jobs?": {
      "main": [
        [{ "node": "Prepare Payload", "type": "main", "index": 0 }],
        [{ "node": "No New Jobs", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Payload": {
      "main": [[{ "node": "Ingest to Vercel", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Europe/Amsterdam"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
